<div class='min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8' id="search-box">
    <form id="movie-search-form">
        <input class="input" type="text" placeholder="Search for Movies by name here!" id="movie-input" name="movie-title">
        <button id="search-btn" autocomplete="movies-list">Search</button>
    </form>
</div>
<div class="" id="column-container">
        <!--Will Watch column-->
        <div class="" id="">
            <h3 class="">WILL WATCH</h3>
            <div class="">
                {{#each wwMovies as |wwMovie|}}
                <div class="">
                    <div class="">
                        <div class="" id="">
                            <h4>{{wwMovie.movieName}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <!--Have Watched column-->
        <div class="" id="">
            <h3 class="">HAVE WATCHED</h3>
            <div class="">
                {{#each hwMovies as |hwMovie|}}
                <div class="">
                    <div class="" id=''>
                        <h4>{{hwMovie.movieName}}</h4>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

<script src="/javascript/logout.js"></script>
<script src="/javascript/Search-to-willWatch.js"></script>
<script src="/javascript/willWatch-to-haveWatched.js"></script>