<div class='min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8' id="search-box">
        <input class="input" type="text" placeholder="Search for Movies by name here!" id="movie-input">
        <button id="search-btn" autocomplete="movies-list">Search</button>
</div>
<div class="" id="column-container">
        <!--Will Watch column-->
        <div class="" id="">
            <h3 class=""></h3>
            <div class="">
                <div class="">
                    <div class="">
                        <div class="" id="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Have Watched column-->
        <div class="" id="">
            <h3 class=""></h3>
            <div class="">
                <div class="">
                    <div class="" id=''>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="/javascript/logout.js"></script>