<div class="flex justify-center w-full">
    <div class="w-1/3">
    <h3 class="card-header text-uppercase flex justify-center"><strong>Search By Movie Name</strong></h3>
        <form id="user-form" class="search-form">
        <label class="form-label flex justify-center" for="username">Movie Name</label>
        <input name="username" id="username" type="text" autofocus="true" class="appearance-none rounded relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" />
        <button type="submit" id="btn" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Get Movies!</button>
        </form>
    </div>
</div>
<br>
<br>

<div class="grid grid-cols-6 gap-32 h-full" id="column-container">
        {{!-- <div></div> --}}
        <!--Will Watch column-->
        <div class="justify-center flex bg-[#a8a29e] col-start-2 col-end-4 " id="will-watch">
            <h3 class="">Will Watch</h3>
            <div class="card">
                <div class="">
                    <ul>
                        {{#each movies}}
                            <li>{{movies.movieName}}</li>
                        {{/each}}
                    </ul>
                    {{!-- all movies in this side --}}
                </div>
            </div>
        </div>
        <!--Have Watched column-->
        <div class="justify-center flex bg-[#a8a29e] col-start-4 col-end-6" id="have-watched">
            <h3 class="">Have Watched</h3>
            <div class="card">
                <div class="">
            
                </div>
            </div>
        </div>
        {{!-- <div></div>  --}}
    </div>

<script src="/javascript/logout.js"></script>